.logo_container {
  background-color: var(--branco);
  text-align: center;
}

.logo_container img {
  width: 300px;
  min-width: 100px;
}

@media (max-width: 768px) {
  .logo_container img {
    width: 230px;
    padding: 0.5em;
  }
}
