* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --cor-primaria: #084B83;
    --cor-secundaria: #42BFDD;
    --cor-terciaria: #BBB6B4;
    --branco: #ffffff;
}
.row {
    --bs-gutter-x: 0!important;
}

h1, h2 {
    color: var(--cor-primaria)!important;
}

.btn-secondary {
    background-color: var(--cor-primaria)!important;
}

.btn-secondary:hover {
    filter: brightness(1.1);
    background-color: var(--cor-primaria);
  }