* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --cor-primaria: #084B83;
    --cor-secundaria: #42BFDD;
    --cor-terciaria: #BBB6B4;
    --branco: #ffffff;
}
.row {
    --bs-gutter-x: 0!important;
}